{% extends "base.html" %}

{% block content %}

<div class="b-example-divider"></div>

<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">

        <!------------------------Lista desplegable-------------->
        <form action="" method="POST">{% csrf_token %}
            <div class="dropdown">
                <a href="#"
                    class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
                    id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
                    <li><a class="dropdown-item active" href="#" aria-current="page">Busqueda:</a></li>
                    <li><a class="dropdown-item" href="#">Cursos</a></li>
                    <li><a class="dropdown-item" href="#">Alumnos</a></li>
                    <li><a class="dropdown-item" href="#">Profesores</a></li>
                </ul>
            </div>
        </form>
        <!-----------------Barra busqueda------------->
        <form action="" method="POST">{% csrf_token %}
            <div class="d-flex align-items-center">
                <form class="w-100 me-3" role="search">
                    <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
                </form>
            </div>
    </div>
    </form>
</header>

<h5>Resultado de la busqueda:</h5>
<ul>
    {% for curso in curso_buscado %}

    <li>Nombre: {{curso.nombre_curso}}</li>
    <li>Costo: ${{curso.costo_curso}}</li>
    <li>Comision: Nº{{curso.comision_curso}}</li>
    <li>{{curso.descripcion_curso}}</li>
    <img src="{{curso.foto_curso.url}}" width="70" height="70">
    <p></p>
    <p></p>
    {% endfor %}
</ul>
</header>

<div class="b-example-divider"></div>

<!----------------------------------------------------------------------->



{% endblock %}